.hero {
    background: #18181B;
    height: 700px;
    overflow: hidden;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .backdrop {
        z-index: 997;
        position: absolute;
        background: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content {
        z-index: 998;
        position: absolute;
        text-align: center;
        text-shadow: 3px 3px 4px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        h1 {
            font-size: 5rem;
        }
        h4 {
            font-size: 2rem;
        }
    }
}