.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

@media (max-width: 550px) {
    .searchForm {
        display: flex;
        flex-direction: column;
    }
}