.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    .searchInput {
        display: flex;
        align-items: center;
        width: 80%;
        position: relative;
        input {
            background: #27272A;
            color: #F5F5F4;
            border: none;
            padding: .5rem 3rem .5rem 1rem;
            border-radius: .5rem;
            height: 38px;
            width: 100%;
            outline: none;
            font-size: 1.1rem;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            z-index: 10;
        }
        .iconClose {
            right: 0;
            font-size: 2.4rem;
            padding-right: .4rem;
            color: #F5F5F4;
            cursor: pointer;
            position: absolute;
        }
    }
    .btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        background: #27272A;
        color: #F5F5F4;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: .5rem;
        font-size: 1.2rem;
        height: 38px;
        .iconSearch {
            font-size: 1.4rem;
        }
        &:disabled {
            transform: translateX(-200px);
        }
    }
}
