.person {
    margin-top: 5rem;
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .mainInfo {
        display: flex;
        gap: 2rem;
        img {
            width: 400px;
            height: 580px;
            border-radius: 1rem;
        }
        .info {
            width: 100%;
            .name {
                font-size: 2.5rem;
            }
            .nameEng {
                font-size: 1.4rem;
                font-weight: normal;
                color: #A8A29E;
            }
            .aboutPersonTitle {
                font-size: 1.7rem;
                margin: 1rem 0;
            }
        }
    }
    
}