.anime {
    padding: 0 15rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    h4 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .animeList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 50px;
        margin-bottom: 50px;
        width: 100%;
    }
    .btns {
        display: flex;
        gap: 2rem;
    }
}

@media (max-width: 1550px) {
    .anime {
        padding: 0 10rem;
        .animeList { 
            grid-template-columns: repeat(3, 1fr);
            row-gap: 35px;
        }
    }
}
@media (max-width: 1180px) {
    .anime {
        padding: 0 5rem;
        .animeList { 
            grid-template-columns: repeat(3, 1fr);
            row-gap: 35px;
        }
    }
}
@media (max-width: 960px) {
    .anime {
        padding: 0 5rem;
        .animeList { 
            grid-template-columns: repeat(2, 1fr);
            row-gap: 35px;
        }
    }
}
@media (max-width: 675px) {
    .anime {
        padding: 0 2rem;
        .animeList { 
            grid-template-columns: repeat(1, 1fr);
            row-gap: 35px;
        }
    }
}