.header {
    background: #18181B;
    height: 4rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0.5rem 15rem;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 20rem;
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    .logo {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        span {
            color: #06B6D4;
        }
    }
}