.facts {
    h5 {
        font-size: 2rem;
    }
    .factsList {
        display: flex;
        flex-direction: column;
        .item {
            border-bottom: 1px solid #a8a29e;
            padding: 2rem 0;
            color: #a8a29e;
            a {
                text-decoration: underline;
                &:hover {
                    color: #e7e5e4;
                }
            }
        }
        .empty {
            text-align: center;
            font-size: 2.2rem;
            color: #57534e;
        }
    }
}
