.movie {
    margin-top: 5rem;
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .mainInfo {
        display: flex;
        gap: 2rem;
        img {
            width: 400px;
            height: 580px;
            border-radius: 1rem;
        }
        .info {
            width: 100%;
            h3 {
                font-size: 2.5rem;
            }
            h5 {
                font-size: 1.7rem;
                margin: 1rem 0;
            }
            .description {
                margin-top: 2rem;
            }
        }
    }
    
}

@media (max-width: 1550px) {
    .movie {
        padding: 0 10rem;
    }
}
@media (max-width: 1180px) {
    .movie {
        padding: 0 5rem;
    }
}
@media (max-width: 960px) {
    .movie {
        padding: 0 5rem;
    }
}
@media (max-width: 675px) {
    .movie {
        padding: 0 2rem;
    }
}
@media (max-width: 465px) {
    .movie {
        .mainInfo {
            img {
                width: 280px;
                height: 460px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .movie {
        .mainInfo {
            flex-direction: column;
        }
    }
}